<br>
<div class="jumbotron">
<h1>Welcome to MyWikis</h1>
<p>This is the welcome page for MyWikis</p>
</div>

  <div class="row">
    <div class="col-md-4">
      <h2>Free Plan</h2>
      <p>Create as many public wikis as you want!</p>
    </div>
    <div class="col-md-4">
      <h2>Premium Plan</h2>
      <p>Create private wikis!</p>
    </div>
  </div> 
