<div class="panel panel-default bootstrap-basic">
    <div class="panel-heading">
      <h3 class="panel-title">Enter Card Details</h3>
    </div>
    <form id="payment-form" class="panel-body"method="post" action="result/">
  
      <div class="row"> 
        <div class="form-group col-md-6"> 
            <label class="control-label">Card Number:</label>
              <input data-braintree-name="number" value="4111111111111111">
        </div>
        <div class="form-group col-md-6">
          <label class="control-label"> Expiration Date: (MM/YY):</label> 
            <input data-braintree-name="expiration_date" value="10/20"> 
        </div>
      </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label class="control-label">Security Code:</label> 
          <input data-braintree-name="cvv" value="100">
      </div>
      <div class="form-group col-md-6">
          <label class"=control-label">Zip Code:</label> 
            <input data-braintree-name="postal_code" value="94107">
      </div>
  </div>

      <%= form_tag("/checkouts", method: "post", id: "custom") do %>
    
        <section>
          <div id="custom"></div>
            <div class="form-group col-xs-6">
                <label class="control-label">Amount
                  <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="25">
            </div>
          </label>
          </div>
        
        <button class="btn btn-success btn-lg center-block" value="submit" id="submit"><span>Pay with Card</span></button>
        </section>      
      <% end %>
</form>

  <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
<script>

<script>
braintree.setup(
  "<%=@client_token%>", 
    'custom'{
      container: 'custom'
  });
</script>